.diary-container {
  display: flex;
  height: 100vh;
}

.left-section,
.right-section {
  width: 25%;
  background-color: rgb(154, 216, 236);
  padding: 20px;
}

.center-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-box,
.game-box {
  margin-bottom: 20px;
}

.journal-image,
.game-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-left: 45px;
}

.journal-textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.user-input {
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #6bfaa2;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.response-box {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.calendar-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.emotion-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.emotion-icons {
  display: flex;
  justify-content: center;
}

.emotion-icons img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.selected-emotion {
  border: 2px solid #4caf50;
}

.emotion-calendar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.calendar-emotion {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.back-button {
  position: absolute;
  bottom: 20px;
  left: 48%;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #0056b3;
}
/* Media Queries para diseño responsive */
@media (max-width: 1024px) {
  .left-section,
  .right-section {
    width: 20%;
  }
  
  .center-section {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .diary-container {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 10px;
  }
  
  .center-section {
    width: 100%;
    padding: 10px;
  }
  
  .journal-image,
  .game-image {
    width: 70%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .left-section,
  .right-section {
    padding: 5px;
  }

  .center-section {
    padding: 5px;
  }
  
  .journal-textarea,
  .user-input {
    height: 100px;
    padding: 5px;
  }
  
  .submit-button,
  .back-button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}