.fpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo */
}

.fpassword-box {
  background-color: rgb(154, 216, 236); /* Fondo verde */
  padding: 100px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px; /* Ancho fijo */
  text-align: center;
}

.fpassword-box h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.fpassword-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.fpassword-buttons {
  display: flex;
  justify-content: space-between;
}

.fpassword-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6bfaa2;
  color: rgb(19, 14, 14);
  font-weight: bold;
  cursor: pointer;
}

.fpassword-buttons button:hover {
  background-color: #0056b3;
}

.fpassword-buttons button:nth-child(2) {
  background-color: #dc3545;
}

.fpassword-buttons button:nth-child(2):hover {
  background-color: #c82333;
}
/* Media Queries para diseño responsive */
@media (max-width: 768px) {
  .fpassword-box {
    width: 80%; /* Ancho ajustado para pantallas más pequeñas */
    padding: 50px; /* Ajuste de padding para pantallas más pequeñas */
  }

  .fpassword-box h2 {
    font-size: 1.5rem; /* Tamaño del texto ajustado */
  }

  .fpassword-buttons {
    flex-direction: column; /* Botones en columna */
  }

  .fpassword-buttons button {
    width: 100%;
    margin-bottom: 10px; /* Espacio entre botones */
  }
}

@media (max-width: 480px) {
  .fpassword-box {
    width: 90%; /* Ancho ajustado para pantallas más pequeñas */
    padding: 30px; /* Ajuste de padding para pantallas más pequeñas */
  }

  .fpassword-box h2 {
    font-size: 1.2rem; /* Tamaño del texto ajustado */
  }

  .fpassword-buttons button {
    font-size: 0.9rem; /* Ajuste del tamaño del texto del botón */
  }
}