body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5dde6;
  background-image: url("https://dbdzm869oupei.cloudfront.net/img/sticker/preview/48814.png"); /* Ruta de la imagen de la flor */
  background-size: cover; /* Ajustar tamaño de la imagen */
  background-position: right center; /* Posición de la imagen (derecha centrada) */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilos para el resto de los elementos */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to left,
    #f8f9fa 73%,
    #f8f9fa 46%,
    #d8daf0 66%
  );
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-container {
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-around; /* Cambié el justify-content a space-around para distribuir los botones */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
